<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Food Delivery Services | OrderMyMeal.com</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="/static/phone.css">
    <link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Playball&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/logo_2.png" alt="OrderMyFood.com">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#client-section">Our Clients</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>

    <section id="home">
        <h2 class="h-primary">Welcome To Order My Meal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, fugit consequatur minus harum et in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A suscipit obcaecati minima reiciendis error.
        </p>
        <button class="btn">Order Now</button>
    </section>

    <sction id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="/static/food_1.jpeg" alt="">
                <h2 class="h-secondary center">Fast Food</h2>
                <p class="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi repellendus, est
                    harum vel ab et nihil magni provident aut quos, minima optio sint ratione?</p>
            </div>
            <div class="box">
                <img src="/static/food_2.jpeg" alt="">
                <h2 class="h-secondary center">Breakfast</h2>
                <p class="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi repellendus, est
                    harum vel ab et nihil magni provident aut quos, minima optio sint ratione?</p>
            </div>
            <div class="box">
                <img src="/static/food_3.jpeg" alt="">
                <h2 class="h-secondary center">Desert</h2>
                <p class="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi repellendus, est
                    harum vel ab et nihil magni provident aut quos, minima optio sint ratione?</p>
            </div>
            <div class="box">
                <img src="/static/Delivery.png" alt="">
                <h2 class="h-secondary center">Food Delivery</h2>
                <p class="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi repellendus, est
                    harum vel ab et nihil magni provident aut quos, minima optio sint ratione?</p>
            </div>
        </div>
    </sction>

    <setion id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="/static/tata.png" alt="Tata">
            </div>
            <div class="client-item">
                <img src="/static/dabur.png" alt="Dabur">
            </div>
            <div class="client-item">
                <img src="/static/bosch.png" alt="BOSCH">
            </div>
            <div class="client-item">
                <img src="/static/air.png" alt="Air India">
            </div>
            <div class="client-item">
                <img src="/static/sbi.png" alt="State Bank Of India">
            </div>
            <div class="client-item">
                <img src="/static/tvs.png" alt="TVS">
            </div>
        </div>
    </setion>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" name="phone" id="phone" placeholder="Enter Your Phone Number">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="8"></textarea>
                </div>
                <button class="btn1">Submit</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.OrderMyMeal.com. All rights reserved!
        </div>
    </footer>
</body>

</html>