/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 20px;
    padding: 0px 6px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 17px;
}

/* Services Section*/
#services{
    flex-direction: column;

}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;

}
#services .box img{
    height: 111px;   
    margin: auto;
    display: block;
    padding: 2px;
}

/* Clients Section */
#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact Us Section */
#contact-box form{
    width: 80%;
}

/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 25px;
    padding: 4px 8px;
}
.btn1{
    font-size: 25px;
    padding: 4px 8px;
    margin-left: auto;
    margin-right: auto;
}